<div *ngIf="!isGame2Over">
  <div class="round-num"><h4>Round {{ trialNumber }}</h4></div>
  <div [hidden]="inTrial"class="opponents-panel">
    <div id="opponents">
      <ul>
        <li *ngFor="let opponent2 of oppSettings">
          <tg-opponent2 [id]="opponent2.id" [meanProplt]="opponent2.meanProplt" [name]="opponent2.name" [directions]="opponent2.directions" [img]="opponent2.img" [highlight]="opponent2.highlight"></tg-opponent2>
        </li>
      </ul>
    </div> <!-- #opponents -->
    <div id="opponent-button"><button (click)="selectOpponent2()" [disabled]="oppSelected">Select Machine</button></div>
  </div> <!-- #opponents-panel -->

  <div *ngIf="inTrial" id="trial-panel">
    <div class="participant card player">
      <div class="player-info">
        <img [src]="playerImgPath">
        <div class="player-name">{{ curParticipantService.name | capitalize}}</div>
      </div>
    </div> <!-- #participant -->

    <div class="interactive-panel">
      <div class="interactive-elements" [@flip]="flip">
        <div class="endowmment flip-side card">
          <p>How much would you like to bet?</p>
          <form id="endowment-form" (ngSubmit)="setEndowmentlt()">
            <input type="range" name="endowmentSlider" [(ngModel)]="this.endowmentlt" min="0.1" max="1" value=".5" step=".1">
            <div id="endowment-amount">{{ endowmentlt | currency : 'USD' : true : '1.2-2' }}</div>
            <button type="submit" [disabled]="endowmentltSubmitted">Submit</button>
          </form>
        </div>

        <div class="feedback flip-side card">
          <p>You bet <strong>{{ endowmentlt | currency:'USD':true:'1.2-2' }}</strong>.</p>
          <p>{{ opponent2.machine.name }} received <strong>{{ (endowmentlt * 4).toFixed(2) | currency:'USD':true:'1.2-2' }}</strong> and paid out
            <strong>{{ oppReturn | currency:'USD':true:'1.2-2' }}</strong>.</p>
          <button (click)="nextTrial()">Next Round</button>
        </div> <!-- .feedback -->
      </div> <!-- .interactive-elements -->
    </div> <!-- .interactive-panel -->

    <div class="opponent card machine">
      <div class="machine-info">
        <img [src]="opponent2.img">
        <div class="machine-name"
            [ngStyle]="{'background-image': opponent2.machine.id === 1 ? 'url(' + pixelPaths['blue'] + ')' : opponent2.machine.id === 2 ? 'url(' + pixelPaths['yellow'] + ')' : 'url(' + pixelPaths['orange'] + ')'}">
          {{ opponent2.machine.name }}
        </div>
      </div>
    </div>  <!-- .opponent -->
  </div> <!-- .trial-panel -->
</div> <!-- div *ngIf="!isGameOver" -->

<div *ngIf="isGame2Over" class="game-over-panel card">
    <h4>Congratulations!</h4>
    <p>You have completed the game.</p>
    <div class="nav-button">
        <tg-nav-button url="part4-instructions" label="Proceed"></tg-nav-button>
    </div>
</div> <!-- .game-over -->
