.amg-prac1 {
  width: 700px;
  margin: auto;
}

.welcome-text {
  width: 750px;
  height: 520px;
  margin: auto;
  padding: 50px 80px 80px 80px;
  margin-top: 7%;
  box-sizing: border-box;
}

.welcome-text button {
  float: right;
  margin-top: 25px;
}

.welcome-text div {
  margin-top: 50px;
}

/* Change this */


p {
    font-size: 100px;
    width: 500px;
    position: fixed;
    top: 27%;
    left: 49%;
}

/* change this */
img {
  width: 700px;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 2.5%;
  float: center;
}
