<div class="amg-prac1" *ngIf="!isFixation">
  <div *ngIf="page === 0" class="welcome-text card">
    <h2>Task 1 Practice</h2>
    <div [innerHTML]="text"></div>
    <button (click)="setPage(page + 1)">Next</button>
  </div> <!-- #welcome-text -->

  <div *ngIf="page >= 1" class="amgprac-text card">
    <div [innerHTML]="text"></div>
    <div *ngIf="page >= 1" class="amgprac-image card"><img [src]="imgSrc"></div>
  </div> <!-- #instruction-text -->


</div> <!-- #instruction -->

<div class="fixation" *ngIf="isFixation">
  <p>+</p>
</div>
