<div class="amg-prac1" *ngIf="!isFixation">
  <div *ngIf="pracpage === 0" class="welcome-text card">
    <h2>Part 1 Practice Phase</h2>
    <div [innerHTML]="text"></div>
    <button (click)="setpracPage(pracpage + 0)">Press [J] Key</button>
  </div> <!-- #welcome-text -->

  <div *ngIf="pracpage >= 1" class="amgprac-text">
    <div [innerHTML]="text"></div>
    <div *ngIf="pracpage >= 1" class="amgprac-image"><img [src]="imgSrc"></div>
  </div> <!-- #instruction-text -->


</div> <!-- #instruction -->

<div class="fixation" *ngIf="isFixation">
  <p>+</p>
</div>
