.amg-prac1 {
  width: 650px;
  margin: auto;
}

.welcome-text {
  width: 750px;
  height: 520px;
  margin: auto;
  padding: 50px 80px 80px 80px;
  margin-top: 7%;
  box-sizing: border-box;
}

.welcome-text button {
  float: right;
  margin-top: 25px;
}

.welcome-text div {
  margin-top: 50px;
}


img {
  width: 650px;
  height: 370px;
  float: center;
  margin: auto;
  margin-top: 170px;
}

p {
    font-size: 100px;
    width: 500px;
    position: fixed;
    top: 27%;
    left: 49%;
}

h3 {
  position: fixed;
  top: 15%;
  left: 34%;
}
