<div class="payoff card">
  <h2>Bonus Payment Information</h2>
  <p>As mentioned in the instructions, your bonus payment is determined by randomly selecting one of the experiment portions and taking the sum
  of your net gains from one round. We randomly selected <strong>Part 2</strong>, <strong>Round {{ idx1 + 1 }}.</strong></p>
  <p>The final calculation of your bonus payment is as follows:</p>
  <p>Round {{ idx1 + 1 }}: Net gain = {{ netGains[idx1] | currency:'USD':true:'1.2-2' }}</p>
  <h3>Payoff = {{ netGains[idx1] | currency:'USD':true:'1.2-2'}} = {{ payoff | currency:'USD':true:'1.2-2'}}</h3>
  <div class="nav-button">
    <tg-nav-button url="code" label="Proceed"></tg-nav-button>
  </div>
</div>
