.survey-instructions {
  width: 1200px;
  margin: auto;
}

.welcome-text {
  width: 750px;
  height: 520px;
  margin: auto;
  padding: 50px 80px 80px 80px;
  margin-top: 7%;
  box-sizing: border-box;
}

.welcome-text div {
  margin-top: 50px;
}


tg-nav-button {
  float: right;
  margin-top: 25px;
}
